.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
# Local History for Visual Studio Code
.history/

.prettierrc
.*rc

.hintrc
.DS_Store
/node_modules
**/desktop.ini