.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
# Local History for Visual Studio Code
.history/

.prettierrc
.*rc

.hintrc
.DS_Store
**/desktop.ini

node_modules/
dist/

# lockfiles
/package-lock.json
/yarn.lock
/pnpm-lock.yaml
