:root {
    --primary-bg-color: #2980b9;
    --secondary-bg-color: #3498db;
    --primary-text-color: #ecf0f1;
    --button-bg-color: #ecf0f1;
    --button-text-color: #2980b9;
    --button-hover-bg-color: #bdc3c7;
    --reset-button-bg-color: #e74c3c;
    --reset-button-hover-bg-color: #c0392b;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #3498db, #2980b9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: var(--primary-text-color);
}

.container {
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 800px;
    text-align: center;
    transition: all 0.3s ease;
}

.container:hover {
    transform: scale(1.05);
}

h1 {
    margin-bottom: 20px;
}

.input-group, .player-input-group, .player-list, .buttons, .scoreboard {
    margin-bottom: 20px;
}

.input-group input, .player-input-group input {
    width: 50px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.input-group input:focus, .player-input-group input:focus {
    background-color: #ecf0f1;
}

.player-input-group input {
    width: 150px;
    margin-right: 10px;
}

.player-list ul, #playerScoreList, #matchOrderList {
    list-style: none;
    padding: 0;
}

.player-list li, #playerScoreList li, #matchOrderList li {
    margin: 5px 0;
}

.score-button, .reset-button, .start-button {
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    transition: background-color 0.3s ease, transform 0.2s;
}

.score-button:hover, .reset-button:hover, .start-button:hover {
    background-color: var(--button-hover-bg-color);
    transform: scale(1.1);
}

.reset-button {
    width: 100%;
    background-color: var(--reset-button-bg-color);
    color: var(--primary-text-color);
}

.reset-button:hover {
    background-color: var(--reset-button-hover-bg-color);
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.scoreboard-section {
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
}
